<ul class="uk-grid-collapse uk-child-width-expand switch-nav" uk-grid uk-switcher>
  {{ if .IsPage }}
  <li>
    <a class="switch-nav__link" href="#">
      関連記事
    </a>
  </li>
  {{ end }}
  <li>
    <a class="switch-nav__link" href="#">
      人気記事
    </a>
  </li>
  <li>
    <a class="switch-nav__link" href="#">
      最新記事
    </a>
  </li>
</ul>

<ul class="uk-switcher">
  {{ if .IsPage }}
  <li>
    <ul class="article-list">
      {{ range .Site.RegularPages.Related . | first 5 }}
      <li class="article-list__item">
        <a href="{{ .Permalink }}" class="uk-flex-middle uk-grid-collapse" uk-grid>
          <div class="uk-width-1-3">
            <img class="article-list__img" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="">
          </div>
          <div class="uk-width-expand article-list__title">
            {{ .Title }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
  <li>
    <ul class="article-list">
      {{ range .Site.RegularPages.ByWeight | first 5 }}
      <li class="article-list__item">
        <a href="{{ .Permalink }}" class="uk-flex-middle uk-grid-collapse" uk-grid>
          <div class="uk-width-1-3">
            <img class="article-list__img" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="">
          </div>
          <div class="uk-width-expand article-list__title">
            {{ .Title }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </li>
  <li>
    <ul class="article-list">
      {{ range .Site.RegularPages.ByLastmod.Reverse | first 5 }}
      <li class="article-list__item">
        <a href="{{ .Permalink }}" class="uk-flex-middle uk-grid-collapse" uk-grid>
          <div class="uk-width-1-3">
            <img class="article-list__img" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="">
          </div>
          <div class="uk-width-expand article-list__title">
            {{ .Title }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </li>
</ul>