{{ if lt .Site.Params.tagLength (len .Site.Taxonomies.tags) }}
<ul class="tag-list">
  {{ range .Site.Taxonomies.tags.ByCount | first .Site.Params.tagLength }}
  <li>
    <a class="tag-list__item" href="{{ $.Site.BaseURL }}/tags/{{ .Name }}">
      {{ .Page.Title }}
      <span class="tag-list__badge badge">
        {{ .Count }}
      </span>
    </a>
  </li>
  {{ end }}
  <li id="toggle-usage" uk-toggle="target: #toggle-usage">
    <a class="tag-list__item" href="#">
      Show Tags
      <span class="tag-list__badge badge">
        <i class="fas fa-plus"></i>
      </span>
    </a>
  </li>
</ul>
<ul id="toggle-usage" class="tag-list" hidden>
  {{ range .Site.Taxonomies.tags.ByCount | last (sub (len .Site.Taxonomies.tags) .Site.Params.tagLength) }}
  <li>
    <a class="tag-list__item" href="{{ $.Site.BaseURL }}/tags/{{ .Name }}">
      {{ .Page.Title }}
      <span class="tag-list__badge badge">
        {{ .Count }}
      </span>
    </a>
  </li>
  {{ end }}
  <li id="toggle-usage" uk-toggle="target: #toggle-usage" hidden>
    <a class="tag-list__item" href="#">
      Hide Tags
      <span class="tag-list__badge badge">
        <i class="fas fa-minus"></i>
      </span>
    </a>
  </li>
</ul>
{{ else }}
<ul class="tag-list">
  {{ range .Site.Taxonomies.tags.ByCount  }}
  <li>
    <a class="tag-list__item" href="{{ $.Site.BaseURL }}/tags/{{ .Name }}">
      {{ .Page.Title }}
      <span class="tag-list__badge badge">
        {{ .Count }}
      </span>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}