<section class="hero_single version_4">
   <div class="wrapper">
         <div class="container">
            <h3>SANTEKNO.COM</h3>
            <p>Berbagi Tutorial dan Informasi Seputar Teknologi</p>
            <form method="get" role="search" action="#">
               <div class="row no-gutters custom-search-input-2">
                     <div class="col-lg-10">
                        <div class="form-group">
                           <input type="text" class="form-control" name="keyword"
                           placeholder="Ketik Lokasi Anda menginap untuk mencari pilihan Akomodasi" value="">
                           <input type="hidden" name="sort" value="price-asc">
                           <i class="ti-search"></i>
                        </div>
                     </div>
                     <div class="col-lg-2">
                        <input type="submit" value="Cari">
                     </div>
               </div>
               <!-- /row -->
            </form>
         </div>
   </div>
</section>