<div class="profile-card">
  <div class="profile-card__img">
    <img src="{{ .Site.BaseURL }}/img/avatar.png" alt="" />
  </div>
  <div class="profile-card__name">
    {{ .Site.Author.name }}
  </div>
  <div class="profile-card__desc">
    {{ .Site.Author.desc | safeHTML }}
  </div>
  {{ with .Site.Author.github }}
  <a class="profile-card__btn btn btn--circle btn--github" href="https://github.com/{{ . }}" target="_blank" rel="noopener">
    <i class="fab fa-github fa-fw"></i>
  </a>
  {{ end }}
  {{ with .Site.Author.twitter }}
  <a class="profile-card__btn btn btn--circle btn--twitter" href="https://twitter.com/{{ . }}" target="_blank" rel="noopener">
    <i class="fab fa-twitter fa-fw"></i>
  </a>
  {{ end }}
  {{ with .Site.Author.mail }}
  <a class="profile-card__btn btn btn--circle btn--envelope" href="mailto:{{ . }}" target="_blank" rel="noopener">
    <i class="fas fa-envelope fa-fw"></i>
  </a>
  {{ end }}
</div>