<div class="uk-grid-collapse uk-child-width-expand" uk-grid>
  <a class="btn btn--facebook" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}｜{{ .Site.Title }}" target="_blank" rel="noopener">
    <i class="fab fa-facebook-f fa-fw"></i>
  </a>
  <a class="btn btn--twitter" href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}｜{{ .Site.Title }}{{ with .Site.Author.twitter }}&via={{ . }}{{ end }}" target="_blank" rel="noopener">
    <i class="fab fa-twitter fa-fw"></i>
  </a>
  <a class="btn btn--pocket" href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}｜{{ .Site.Title }}" target="_blank" rel="noopener">
    <i class="fab fa-get-pocket fa-fw"></i>
  </a>
  <a class="btn btn--hatena" href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}｜{{ .Site.Title }}" target="_blank" rel="noopener">
    <i class="fab fa-hatena fa-fw"></i>
  </a>
  <a class="btn btn--rss" href="{{ .Site.BaseURL }}/index.xml" target="_blank" rel="noopener">
    <i class="fas fa-rss fa-fw"></i>
  </a>
</div>