<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <div class="container">
    {{ block "main" . }}{{ end }}
    <aside class="container__sidebar">
      {{ block "sidebar" . }}{{ end }}
    </aside>
  </div>
  {{ partial "footer.html" . }}
  <div class="uk-position-fixed uk-position-bottom-right">
    <a class="btn btn--circle btn--active uk-margin-small-bottom uk-margin-small-right uk-hidden@m" uk-toggle="target: .uk-offcanvas-flip">
      <i class="fas fa-bars fa-lg fa-fw"></i>
    </a>
  </div>
  <div class="uk-offcanvas-flip" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      {{ block "sidebar" . }}{{ end }}
    </div>
  </div>
</body>

</html>