<div class="article-card">
  <a class="dev" href="{{ .Permalink }}">
    <img class="article-card__img" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="" />
  </a>
  <div class="article-card__body">
    <a class="article-card__title" href="{{ .Permalink }}">
      {{ .Title }}
    </a>
    <div class="article-card__meta">
      <i class="far fa-calendar-alt fa-fw">&nbsp;</i>{{ .Date.Format "2006/01/02" }}&nbsp;&nbsp;<i class="fas fa-sync-alt fa-fw">&nbsp;</i>{{ .Lastmod.Format "2006/01/02" }}
    </div>
    <div class="article-card__meta">
      {{ if .Params.tags }}
      <i class="fas fa-tags fa-fw"></i>{{ range .Params.tags }}&nbsp;<a class="article-card__tag" href="/tags/{{ lower . }}">{{ . }}</a>&nbsp;{{ end }}
      {{ end }}
    </div>
  </div>
</div>