/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.box_home_info {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-style: solid;
  border-color: #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.strip-custom {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  border-style: solid;
  border-color: #ddd;
}

.breadcrumb-custom{
  padding-top: 5pt;
}

.menu-title {
   color: #fff;
   font-weight: bold;
}
