$base-link-hover-text-decoration: none;
$global-link-hover-color: #ad002d;
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: none;

@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";
@import "../uikit/src/scss/uikit-theme.scss";

// ================================================================
// Component
// ================================================================

// ----------------------------------------------------------------
// INDEX
// ----------------------------------------------------------------

// Article Card
// Article Gallery Grid
// Article Headline
// Article Image
// Article Link
// Article List
// Article Meta
// Article Rich Link
// Article Table
// Badge
// Button
// Container
// Heading Line
// Pagination
// Profile Card
// Swich Nav
// Tag List

// ----------------------------------------------------------------
// Article Card
// ----------------------------------------------------------------

.article-card {
  &__img {
    border: solid 1px #e5e5e5;
    transition-duration: .5s;
    width: 100%;
  }

  &__img:hover {
    filter: brightness(50%);
  }

  &__body {
    padding: 10px;
  }

  &__title {
    color: #333;
    margin: 5px 0;
    transition-duration: .5s;
  }

  &__title:hover {
    color: #ad002d;
  }

  &__meta,
  &__tag {
    color: #666;
    font-size: .9rem;
    margin: 5px 0;
    transition-duration: .5s;
  }

  &__tag:hover {
    color: #ad002d;
  }
}

// ----------------------------------------------------------------
// Article Gallery Grid
// ----------------------------------------------------------------

.article-gallery-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

// ----------------------------------------------------------------
// Article Headline
// ----------------------------------------------------------------

.article-h1 {
  font-size: 28px;
}

.article-h2 {
  border-bottom: solid .1em #ad002d;
  border-left: solid .4em #ad002d;
  font-size: 24px;
  padding: .2em .4em;
}

.article-h3 {
  border-left: solid .4em #222;
  font-size: 20px;
  padding: .2em .4em;
}

// ----------------------------------------------------------------
// Article Image
// ----------------------------------------------------------------

.article-img {
  border: solid 1px #e5e5e5;
  transition-duration: .5s;
  width: 100%;
}

// ----------------------------------------------------------------
// Article Link
// ----------------------------------------------------------------

.article-link {
  transition-duration: .5s;

  &:hover>.article-img {
    filter: brightness(50%);
  }
}

// ----------------------------------------------------------------
// Article List
// ----------------------------------------------------------------

.article-list {
  list-style: none;
  padding: 0;

  &__item {
    padding: 5px;
    transition-duration: .5s;
  }

  &__item:hover {
    background-color: #222;
  }

  &__img {
    border: solid 1px #e5e5e5;
  }

  &__title {
    color: #666;
    font-size: .9rem;
    line-height: 1.2;
    margin-left: 5px;
    transition-duration: .5s;
  }

  &__item:hover &__title {
    color: #fff;
  }
}

// ----------------------------------------------------------------
// Article Meta
// ----------------------------------------------------------------

.article-meta {
  &__tag {
    color: #666;
    transition-duration: .5s;
  }

  &__tag:hover {
    color: #ad002d;
  }
}

// ----------------------------------------------------------------
// Article Rich Link
// ----------------------------------------------------------------

.article-rich-link {
  border: solid 1px #e5e5e5;
  padding: 5px;

  a>&__img {
    border: solid 1px #e5e5e5;
    transition-duration: .5s;
    width: 100%;
  }

  a>&__img:hover {
    filter: brightness(50%);
  }

  &__body {
    padding: 5px;
  }

  &__title {
    margin: 0;
  }

  &__title>a {
    color: #333;
    transition-duration: .5s;
  }

  &__title>a:hover {
    color: #ad002d;
  }

  &__desc {
    margin: 10px 0;
  }
}

// ----------------------------------------------------------------
// Article Table
// ----------------------------------------------------------------

.article-table {
  @extend .uk-table;

  >thead>tr>th {
    background-color: #222;
    border: solid 1px #e5e5e5;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: none;
  }

  >tbody>tr>td {
    border: solid 1px #e5e5e5;
    padding: 10px;
    font-size: 14px;
  }

  &--headless>thead {
    display: none;
  }
}

// ----------------------------------------------------------------
// Badge
// ----------------------------------------------------------------

.badge {
  align-items: center;
  background-color: #fff;
  border-radius: 500px;
  border: solid 1px #999;
  box-sizing: border-box;
  color: #666;
  display: inline-flex;
  font-size: .6rem;
  height: 22px;
  justify-content: center;
  min-width: 22px;
  padding: 0 5px;
  vertical-align: middle;
}

// ----------------------------------------------------------------
// Button
// ----------------------------------------------------------------

.btn {
  background-color: #fff;
  border: solid 1px #999;
  color: #666;
  display: inline-block;
  font-size: .9rem;
  line-height: 40px;
  text-align: center;
  transition-duration: .5s;

  &:hover {
    background-color: #222;
    border: solid 1px #222;
    color: #fff;
  }

  &--circle {
    border-radius: 50%;
    width: 40px;
  }

  @each $key, $value in (
    active: #ad002d,
    amazon: #ff9900,
    envelope: #f39c12,
    facebook: #3b5998,
    github: #222,
    hatena: #00a4de,
    pocket: #ee4056,
    rakuten: #bf0000,
    rss: #e0812a,
    twitter: #1da1f2,
  ) {
    &--#{$key} {
      background-color: $value;
      border: solid 1px $value;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: solid 1px $value;
        color: $value;
      }
    }
  }

  &--disabled:hover {
    background-color: #fff;
    border: solid 1px #999;
    color: #666;
  }
}

// ----------------------------------------------------------------
// Container
// ----------------------------------------------------------------

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;

  &__article-gallery {
    flex: 1;
    min-width: 1px;
  }

  &__article {
    width: 640px;
  }

  &__sidebar {
    margin-left: 20px;
    width: 280px;
  }

  @media (max-width: 960px) {
    &__article {
      flex: 1;
      min-width: 1px;
    }

    &__sidebar {
      display: none;
    }
  }
}

// ----------------------------------------------------------------
// Heading Line
// ----------------------------------------------------------------

.heading-line {
  border-bottom: solid 1px #e5e5e5;
  border-top: solid 1px #e5e5e5;
  box-sizing: border-box;
  font-size: .9rem;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;

  &--dark {
    background-color: #222;
    border-bottom: solid 1px #222;
    border-top: solid 1px #222;
    color: #fff;
  }
}

// ----------------------------------------------------------------
// Pagination
// ----------------------------------------------------------------

.pagination {
  text-align: center;

  &__btn {
    margin: 0 5px;
  }
}

// ----------------------------------------------------------------
// Profile Card
// ----------------------------------------------------------------

.profile-card {
  text-align: center;

  &__img {
    margin: 10px auto;
    width: 80px;
  }

  &__name {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  &__desc {
    margin: 10px 0;
  }

  &__btn {
    margin: 10px 5px;
  }
}

// ----------------------------------------------------------------
// Swich Nav
// ----------------------------------------------------------------

.switch-nav {
  margin: 20px 0;

  &__link {
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #e5e5e5;
    box-sizing: border-box;
    color: #666;
    display: inline-block;
    font-size: .9rem;
    line-height: 40px;
    text-align: center;
    transition-duration: .5s;
    width: 100%;
  }

  &__link:hover {
    background-color: #222;
    border-bottom: solid 1px #222;
    border-top: solid 1px #222;
    color: #fff;
  }

  & .uk-active &__link {
    background-color: #ad002d;
    border-bottom: solid 1px #ad002d;
    border-top: solid 1px #ad002d;
    color: #fff;
  }
}

// ----------------------------------------------------------------
// Tag List
// ----------------------------------------------------------------

.tag-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    color: #666;
    display: inline-block;
    font-size: .9rem;
    padding: 5px;
    width: 100%;
    transition-duration: .5s;
  }

  &__item:hover {
    background-color: #222;
    color: #fff;
  }

  &__badge {
    float: right;
  }
}

// ================================================================
// Expansion
// ================================================================

// ----------------------------------------------------------------
// Font Awesome: Hatena Bookmark
// ----------------------------------------------------------------

.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
}

// ================================================================
// Overwrite
// ================================================================

// ----------------------------------------------------------------
// Hugo: Footnote
// ----------------------------------------------------------------

.footnote-ref {
  transition-duration: .5s;
}

// ----------------------------------------------------------------
// Hugo: Highlight
// ----------------------------------------------------------------

.highlight {
  margin: 20px 0;

  >div>table>tbody>tr>td>pre {
    border: none;
    margin: 0;
    padding: 0;
  }

  >div {
    padding: 5px 0;
  }

  >pre {
    padding: 10px;
  }
}

// ----------------------------------------------------------------
// Hugo: Table Of Contents
// ----------------------------------------------------------------

.TableOfContents {

  >ul,
  >ul>li>ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  >ul>li>ul>li {
    margin-left: 15px;
  }

  >ul>li>a,
  >ul>li>ul>li>a {
    color: #666;
    display: inline-block;
    font-size: .9rem;
    padding: 5px;
    transition-duration: .5s;
    width: 100%;

    &:hover {
      background-color: #222;
      color: #fff;
    }
  }

  >ul>.uk-active>a,
  >ul>li>ul>.uk-active>a {
    color: #ad002d;
  }
}