{{ define "main" }}
<div class="container__article-gallery">
  <p class="heading-line">
    {{ $title := .Title }}
    {{ $count := 0 }}
    {{ range .Site.Taxonomies.tags }}
    {{ if eq $title .Page.Title }}
    {{ $count = .Count }}
    {{ end }}
    {{ end }}
    {{ $title }}&nbsp;&nbsp;{{ $count }}&nbsp;件
  </p>
  <div class="article-gallery-grid">
    {{ range (.Paginate ( .Pages.ByLastmod.Reverse )).Pages }}
    {{ .Render "list" }}
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</div>
{{ end }}

{{ define "sidebar" }}
<p class="heading-line">
  管理者
</p>
{{ partial "profile-card.html" . }}
{{ partial "article-list.html" . }}
<p class="heading-line">
  タグ&nbsp;&nbsp;{{ (len .Site.Taxonomies.tags) }}&nbsp;個
</p>
{{ partial "tag-list.html" . }}
{{ end }}